@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap");
body {
  margin: 0;
}

* {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 95%;
  margin: auto;
}

i {
  cursor: pointer;
}

nav {
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding: 0.75% 0;
  z-index: 999;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .nav_section {
  display: flex;
  column-gap: 5rem;
  align-items: center;
}
nav .container .nav_section .nav_list_one, nav .container .nav_section .nav_list_two {
  padding: 0;
  padding-top: 2%;
  list-style-type: none;
  display: flex;
  column-gap: 30px;
  text-transform: capitalize;
}
nav .container .nav_section img {
  max-width: 7rem;
}

@media (max-width: 1000px) and (min-width: 768px) {
  nav .container .nav_section {
    column-gap: 2.5rem;
  }
  nav .container .nav_section .nav_list_one, nav .container .nav_section .nav_list_two {
    column-gap: 15px;
  }
}
@media (max-width: 768px) and (min-width: 0px) {
  nav .container .nav_section .nav_list_one, nav .container .nav_section .nav_list_two {
    display: none;
  }
}
main {
  padding-top: 7%;
}
main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .main_child_one {
  text-transform: capitalize;
}
main .container .main_child_one > * {
  margin-bottom: 7%;
}
main .container .main_child_one h1 {
  font-size: 3rem;
}
main .container .main_child_one form {
  display: flex;
  align-items: center;
}
main .container .main_child_one form input {
  background-color: transparent;
  border: transparent;
  text-transform: capitalize;
  background-color: #f34949;
  color: #fff;
  padding: 2% 3%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 0px 0px 10px 2px rgba(136, 136, 136, 0.6588235294);
}
main .container .main_child_one form input:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  background-color: rgb(166, 166, 0);
}
main .container .main_child_one form .play_vid {
  margin-left: 4%;
  cursor: pointer;
}
main .container .main_child_one form .play_vid:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
main .container .main_child_one_child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  margin-top: 20%;
}
main .container .main_child_one_child .hamada {
  cursor: pointer;
}
main .container .main_child_one_child .hamada i {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 6%;
}
main .container .vertical_line {
  border-left: 2px solid #000;
  height: 50px;
}
main .container .main_child_two {
  position: relative;
}
main .container .main_child_two img {
  width: 95%;
}
main .container .main_child_two > :nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 5%;
}
main .container .main_child_two > :nth-child(2) button {
  background-color: #fff;
  border: transparent;
  padding: 55px;
  margin: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
main .container .main_child_two > :nth-child(2) button:active {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

@media (max-width: 1190px) and (min-width: 1100px) {
  main .container .main_child_two img {
    max-width: 85%;
  }
  main .container .main_child_two > :nth-child(2) {
    right: 15%;
  }
}
@media (max-width: 1100px) and (min-width: 0px) {
  main {
    padding-top: 15%;
  }
  main .container {
    flex-direction: column;
    text-align: center;
  }
  main .container .main_child_one form {
    justify-content: space-evenly;
  }
  main .container .main_child_two > :nth-child(2) {
    right: 0%;
  }
}
@media (max-width: 850px) and (min-width: 500px) {
  main .container .main_child_two > :nth-child(2) button {
    padding: 50px;
  }
}
@media (max-width: 500px) and (min-width: 0px) {
  main {
    padding: 21%;
  }
  main .container .main_child_one .main_child_one_child {
    margin-bottom: 10%;
  }
  main .container .main_child_one h1 {
    font-size: 2.5rem;
  }
  main .container .main_child_two img {
    width: 100%;
  }
  main .container .main_child_two > :nth-child(2) button {
    padding: 10px;
  }
}
.welcoming_section {
  margin-top: 7.5%;
}
.welcoming_section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5rem;
  text-transform: capitalize;
}
.welcoming_section .child_two {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.welcoming_section .child_two .child_two_child_one h6 {
  color: #f45252;
}
.welcoming_section .child_two .child_two_child_one img {
  box-shadow: 15px 5px 3px 3px #000;
}
.welcoming_section .child_two .child_two_child_two .images {
  margin-top: 2.5%;
  display: flex;
  justify-content: space-between;
}
.welcoming_section .child_two .child_two_child_two .images img {
  width: 75%;
}
.welcoming_section .child_two .child_two_child_two .images h5 {
  margin-top: 5%;
  color: #f45252;
}

@media (max-width: 1100px) and (min-width: 0px) {
  .welcoming_section .container .child_one img {
    width: 25rem;
  }
  .welcoming_section .container .child_two .child_two_child_two .images h5 {
    font-size: 1rem;
  }
}
@media (max-width: 1100px) and (min-width: 950px) {
  .welcoming_section .container .child_two .child_two_child_two .images img {
    width: 7.5rem;
  }
  .welcoming_section .container .child_two .child_two_child_two .images h5 {
    font-size: 1rem;
  }
}
@media (max-width: 950px) and (min-width: 0px) {
  .welcoming_section .container {
    flex-direction: column;
    text-align: center;
    row-gap: 2.5rem;
  }
}
@media (max-width: 500px) and (min-width: 0px) {
  .welcoming_section .container .child_one img {
    width: 70%;
  }
  .welcoming_section .container .child_two .child_two_child_two .images {
    flex-direction: column;
  }
  .welcoming_section .container .child_two .child_two_child_two .images img {
    width: 50%;
  }
}
.specialties {
  margin-top: 5%;
  padding: 5% 0%;
  background-color: #f7f8f9;
}
.specialties .container {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
.specialties .container h6 {
  color: #f34949;
}
.specialties .container h6,
.specialties .container h2 {
  text-align: center;
}
.specialties .container .specialties_child_one {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  column-gap: 15%;
  align-items: center;
}
.specialties .container .specialties_child_one > :nth-child(1) .number {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.specialties .container .specialties_child_one > :nth-child(1) .number .no_line {
  width: 150px;
  border-top: 1px solid #000;
}
.specialties .container .specialties_child_one > :nth-child(1) .content {
  margin-top: 5%;
  margin-left: 5%;
}
.specialties .container .specialties_child_one > :nth-child(1) .content h3 span {
  color: #f34949;
}
.specialties .container .specialties_child_one > :nth-child(1) .content button {
  margin-top: 2%;
  text-transform: capitalize;
  padding: 2% 4%;
  border: transparent;
  background-color: #f34949;
  color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.specialties .container .specialties_child_one > :nth-child(1) .content button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: rgb(94, 94, 45);
}
.specialties .container .specialties_child_one > :nth-child(1) .content button:active {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  background-color: #f34949;
}
.specialties .container .specialties_child_one .image img {
  width: 30rem;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.4117647059);
}

.specialties_child_two {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  column-gap: 15%;
  align-items: center;
}
.specialties_child_two .image img {
  width: 30rem;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.4117647059);
}
.specialties_child_two > :nth-child(2) .number {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.specialties_child_two > :nth-child(2) .number .no_line {
  width: 150px;
  border-top: 1px solid #000;
}
.specialties_child_two > :nth-child(2) .content {
  margin-top: 5%;
  margin-left: 5%;
}
.specialties_child_two > :nth-child(2) .content h3 span {
  color: #f34949;
}
.specialties_child_two > :nth-child(2) .content button {
  margin-top: 2%;
  text-transform: capitalize;
  padding: 2% 4%;
  border: transparent;
  background-color: #f34949;
  color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.specialties_child_two > :nth-child(2) .content button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: rgb(94, 94, 45);
}
.specialties_child_two > :nth-child(2) .content button:active {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  background-color: #f34949;
}

@media (max-width: 1000px) and (min-width: 880px) {
  .specialties .container .specialties_child_one .image img {
    width: 25rem;
  }
  .specialties .container .specialties_child_two .image img {
    width: 25rem;
  }
}
@media (max-width: 880px) and (min-width: 0px) {
  button {
    margin-bottom: 5%;
  }
  .specialties .container {
    align-items: center;
  }
  .specialties .container .specialties_child_one {
    text-align: center;
    flex-direction: column;
  }
  .specialties .container .specialties_child_one .image img {
    width: 25rem;
  }
  .specialties .container .specialties_child_two {
    text-align: center;
    flex-direction: column;
  }
  .specialties .container .specialties_child_two .image img {
    margin: 10%;
    width: 25rem;
  }
}
@media (max-width: 560px) and (min-width: 450px) {
  button {
    margin-bottom: 5%;
  }
  .specialties .container {
    align-items: center;
  }
  .specialties .container .specialties_child_one {
    text-align: center;
    flex-direction: column;
  }
  .specialties .container .specialties_child_one .image img {
    width: 20rem;
  }
  .specialties .container .specialties_child_two {
    text-align: center;
    flex-direction: column;
    align-items: baseline;
  }
  .specialties .container .specialties_child_two .image img {
    margin: 10%;
    width: 20rem;
  }
}
@media (max-width: 450px) and (min-width: 320px) {
  button {
    margin-bottom: 5%;
  }
  .specialties .container {
    align-items: center;
  }
  .specialties .container .specialties_child_one {
    text-align: center;
    flex-direction: column;
  }
  .specialties .container .specialties_child_one .image img {
    width: 15rem;
  }
  .specialties .container .specialties_child_two {
    align-items: baseline;
    text-align: center;
    flex-direction: column;
  }
  .specialties .container .specialties_child_two .image img {
    margin: 10%;
    width: 15rem;
  }
}
.menu_section {
  padding: 5% 0%;
  text-transform: capitalize;
}
.menu_section .container > :nth-child(1),
.menu_section .container h2 {
  text-align: center;
}
.menu_section .container > :nth-child(1) {
  color: #f34949;
}
.menu_section .container .menu_div {
  margin: 4% 0%;
  display: flex;
  column-gap: 50px;
}
.menu_section .container .menu_div .menu {
  width: 33.3333333333%;
}
.menu_section .container .menu_div .menu h3 {
  margin-bottom: 10%;
  text-align: center;
}
.menu_section .container .menu_div .menu > :nth-child(2) {
  display: flex;
  column-gap: 25px;
}
.menu_section .container .menu_div .menu > :nth-child(2) .content {
  display: flex;
  column-gap: 25px;
}
.menu_section .container .menu_div .menu > :nth-child(2) .content .image img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.menu_section .container .menu_div .menu > :nth-child(4) {
  display: flex;
  column-gap: 25px;
}
.menu_section .container .menu_div .menu > :nth-child(4) .content {
  display: flex;
  column-gap: 25px;
}
.menu_section .container .menu_div .menu > :nth-child(4) .content .image img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.menu_section .container .menu_div .menu > :nth-child(6) {
  display: flex;
  column-gap: 25px;
}
.menu_section .container .menu_div .menu > :nth-child(6) .content {
  display: flex;
  column-gap: 25px;
}
.menu_section .container .menu_div .menu > :nth-child(6) .content .image img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.menu_section .container .menu_div .menu .menu_line {
  border-top: 1px solid #000;
  margin: 5% 0%;
}

@media (max-width: 1135px) and (min-width: 1000px) {
  .menu_section {
    padding: 5% 0%;
    text-transform: capitalize;
  }
  .menu_section .container .menu_div .menu > :nth-child(2) .content .image img {
    width: 5rem;
  }
  .menu_section .container .menu_div .menu > :nth-child(4) .content .image img {
    width: 5rem;
  }
  .menu_section .container .menu_div .menu > :nth-child(6) .content .image img {
    width: 5rem;
  }
}
@media (max-width: 1000px) and (min-width: 0px) {
  .menu_section {
    padding: 5% 0%;
    text-transform: capitalize;
  }
  .menu_section .container .menu_div {
    flex-direction: column;
    text-align: center;
  }
  .menu_section .container .menu_div .menu {
    width: 100%;
  }
  .menu_section .container .menu_div .menu > :nth-child(2) .content .image img {
    width: 5rem;
  }
  .menu_section .container .menu_div .menu > :nth-child(4) .content .image img {
    width: 5rem;
  }
  .menu_section .container .menu_div .menu > :nth-child(6) .content .image img {
    width: 5rem;
  }
}
.reviews {
  background-image: url(../../img/testi-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews .container {
  color: #fff;
  text-align: center;
  padding: 5% 0%;
  text-transform: capitalize;
}
.reviews .container > * {
  margin: 1% 0;
}
.reviews .container i {
  font-size: 5.5rem;
}
.reviews .container p {
  font-style: italic;
  font-size: 1.25rem;
}
.reviews .container div .capital {
  text-transform: uppercase;
}
.reviews .container div .color {
  color: #9f5050;
}

@media (max-width: 425px) and (min-width: 0px) {
  .reviews .container i {
    font-size: 3.5rem;
  }
}
.chefs {
  padding: 5% 0%;
}
.chefs .container .test {
  color: #f34949;
}
.chefs .container .test,
.chefs .container h2 {
  text-align: center;
  text-transform: capitalize;
}
.chefs .container .team {
  display: flex;
  column-gap: 50px;
  text-align: center;
  text-transform: capitalize;
}
.chefs .container .team .member_one {
  background-image: url(../../img/chef-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 33.3333333333%;
}
.chefs .container .team .member_one div {
  background: #fff;
  padding: 2% 4%;
  position: absolute;
  bottom: 20px;
  left: auto;
  right: 50%;
}
.chefs .container .team .member_two {
  background-image: url(../../img/chef-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 33.3333333333%;
}
.chefs .container .team .member_two div {
  background: #fff;
  padding: 2% 4%;
  position: absolute;
  bottom: 20px;
  left: auto;
  right: 50%;
}
.chefs .container .team .member_three {
  background-image: url(../../img/chef-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 33.3333333333%;
}
.chefs .container .team .member_three div {
  background: #fff;
  padding: 2% 4%;
  position: absolute;
  bottom: 20px;
  left: auto;
  right: 50%;
}

@media (max-width: 840px) and (min-width: 700px) {
  .chefs .container .team {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }
  .chefs .container .team .member_one {
    height: 30rem;
  }
  .chefs .container .team .member_two {
    height: 30rem;
  }
  .chefs .container .team .member_three {
    height: 30rem;
  }
}
@media (max-width: 700px) and (min-width: 500px) {
  .chefs .container .team {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }
  .chefs .container .team .member_one {
    height: 20rem;
  }
  .chefs .container .team .member_two {
    height: 20rem;
  }
  .chefs .container .team .member_three {
    height: 20rem;
  }
}
@media (max-width: 500px) and (min-width: 0px) {
  .chefs .container .team {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }
  .chefs .container .team .member_one {
    height: 20rem;
    width: 10rem;
  }
  .chefs .container .team .member_two {
    height: 20rem;
    width: 10rem;
  }
  .chefs .container .team .member_three {
    height: 20rem;
    width: 10rem;
  }
}
.reservation_responsive {
  display: none;
}

.reservation {
  background-image: url(../../img/reservation-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.reservation .container .book {
  width: 25%;
  background-color: #fff;
}
.reservation .container .book h6 {
  color: #f34949;
  text-transform: capitalize;
}
.reservation .container .book h2 {
  text-transform: capitalize;
}
.reservation .container .book form > * {
  display: block;
  margin: 5% auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 1% 2%;
}
.reservation .container .book form > *::placeholder {
  text-transform: capitalize;
}
.reservation .container .book form > *:not(:nth-child(4)) {
  border: 0.5px solid #000;
  width: 80%;
}
.reservation .container .book form div input {
  width: 82%;
  margin: 5% auto;
  margin-bottom: 3%;
  border: 0.5px solid #000;
  padding: 0.5% 1%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: block;
}
.reservation .container .book form .btn {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  width: 45%;
  text-transform: capitalize;
  border: transparent;
  color: #fff;
  background-color: #f34949;
  padding: 2% 4%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.reservation .container .book form .btn:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #6c2121;
}

@media (max-width: 1010px) and (min-width: 0px) {
  .reservation {
    display: none;
  }
  .reservation_responsive {
    display: block;
  }
  .reservation_responsive h6 {
    color: #f34949;
  }
  .reservation_responsive h6,
  .reservation_responsive h2 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2.5%;
  }
  .reservation_responsive .reservation_responsive_img {
    height: 23rem;
    background-image: url(../../img/reservation-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .reservation_responsive .reservation_responsive_form {
    text-align: center;
  }
  .reservation_responsive .reservation_responsive_form input,
  .reservation_responsive .reservation_responsive_form textarea {
    width: 50%;
    text-align: center;
    display: block;
    margin: 2% auto;
    padding: 0.6% 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .reservation_responsive .reservation_responsive_form input::placeholder,
  .reservation_responsive .reservation_responsive_form textarea::placeholder {
    text-transform: capitalize;
  }
  .reservation_responsive .reservation_responsive_form .btn {
    background-color: #f34949;
    color: #fff;
    text-transform: capitalize;
  }
}
@media (max-width: 940px) and (min-width: 768px) {
  .reservation_responsive .reservation_responsive_img {
    height: 21rem;
  }
}
@media (max-width: 768px) and (min-width: 630px) {
  .reservation_responsive .reservation_responsive_img {
    height: 17rem;
  }
}
@media (max-width: 630px) and (min-width: 500px) {
  .reservation_responsive .reservation_responsive_img {
    height: 15rem;
  }
}
@media (max-width: 500px) and (min-width: 375px) {
  .reservation_responsive .reservation_responsive_img {
    height: 11rem;
  }
}
@media (max-width: 375px) and (min-width: 0px) {
  .reservation_responsive .reservation_responsive_img {
    height: 9rem;
  }
}

/*# sourceMappingURL=style.css.map */
